body {
	background-color: black;
	padding: 0px;
	margin: 0px;
}
#videos {
	width: 100%;
	padding-top: 5vw;
}
#videos > .video-box {
	width: 50vw;
	height: 30vw;
	display: inline-block;
}
.local-video {
	width: 100%;
	display: block;
	height: 100%;
	border: 1px solid darkslategrey;
}